.footer {
  padding: 80px 88px 40px;
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-divider {
  width: 1px;
  height: 96px;
  background: #000;
  margin: 40px 0;
}

.footer-nav {
  display: flex;
  gap: 40px;
  margin-bottom: 27px;
}

.footer-logo {
  height: 64px;
}

.footer-nav-bar-text {
  color: #151515;
  font-family: "DM Sans";
  font-size: 11px;
  font-weight: 700;
  line-height: 19.8px;
  letter-spacing: 2.75px;
  text-transform: uppercase;
}

.footer-text {
  color: rgba(10, 10, 10, 0.7);
  text-align: center;
  font-family: "DM Sans";
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 30px;
}

.footer-socials {
  display: flex;
  gap: 24px;
}

.footer-bottom {
  margin-top: 46px;
  padding-top: 24px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright-text {
  color: rgba(10, 10, 10, 0.6);
  font-family: "DM Sans";
  font-size: 14px;
  line-height: 20px;
}

.footer-legal {
  display: flex;
  gap: 24px;
}

@media (max-width: 768px) {
  .footer {
    padding: 56px 20px 30px 20px;
  }

  .footer-logo {
    width: 335px;
    height: 49.776px;
  }

  .footer-divider {
    margin: 32px 0;
  }

  .footer-nav-bar-text {
    font-size: 12px;
    letter-spacing: 1.5px;
  }

  .copyright-text {
    font-size: 12px;
    line-height: 16px;
  }

  .footer-legal {
    gap: 20px;
  }

  .footer-bottom-mobile {
    margin-top: 38px;
    padding-top: 24px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    gap: 20px;
  }
}
